version 6.0.0-beta8
framework: net5.0
storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 5.0

// Build
nuget Fake.Core.Target ~> 5.20 prerelease
nuget Fake.DotNet.Cli ~> 5.20 prerelease
nuget Fake.IO.FileSystem ~> 5.20 prerelease

// Deploy
nuget Farmer ~> 1.4
